@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Song+Myung&display=swap');

@media (min-width: 576px) and (max-width: 767px) {}

* {
    font-family: 'Song Myung', serif;
}

body {
    background-color: #CCCCCC;
	text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

#header {
	margin: 0px;
	padding: 20px;
	color: white;
	text-align: center;
	background-color: #696969;
	overflow: hidden;
}

#header img {
	width: 70%;
	height: 70%;
	display: inline-block;
}

section {
	padding: 13px;
	margin: 20px;
	border: solid 3px #696969;
	height: 700px;
	overflow: auto;
}

section h2 {
	padding: 7px;
	font-size: 2.0em;
	background-color: #696969;
	color: white;
    text-align: center;
}

#searchBoxOffice, #staffResult {
    padding: 14px;
	width: 96%;
	height: auto;
    text-align: center;
}

#searchBoxOffice ul, #staffResult ul {
	list-style: none;
}

/* #searchBoxOffice h2 {
	color:goldenrod
} */


input {
  font-family: sans-serif;
  height: 30px;
  width: 40%;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid #696969;
  font-size: 20px;
  font-weight: bold;
  color: #696969;
}

input[type="text"]:focus {
	outline:none;
	border: 3px solid #696969;
	color: #696969;
}

input[type="text"]::placeholder {
	color: #888888;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

.submit {
    width: 10%;
    height: 38px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    margin-left: 3px;
    border: 3px solid #696969;
    background: #696969;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.submit :hover {
    background: #ffffff;
    color: #696969;
}

#num {
	width: 5%;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    margin-left: 3px;
    border: 3px solid #696969;
    background: #ffffff;
    color: #696969;
    border-radius: 5px;
}

.dateField-text {
	display: none;
	position: absolute;
	background: #000000;
	color: #ffffff;
	margin: 1px;
	padding: 10px;
	width: auto;
	opacity: 0.85;
	left: 23%;
	border-radius: 10px;
}

.dateField-text::before {
	content: url(./weather_warning_signal_alert_exclamation_icon_124159.png);
}


.dateField:hover .dateField-text {
	display: block;
}

.tableField {
    display: flex;
    justify-content: center;
}

.queryTable {
	border-collapse: collapse;
	margin: 25px 0px 0px 0px;
	font-size: 1.2em;
	width: 63%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}

.queryTable thead tr {
	background-color: #696969;
	border: 1px solid #696969;
	color: #ffffff;
	justify-content: center;
}

.queryTable thead th {
	padding: 10px;
	font-size: 1.1em;
}

.queryTable tbody tr {
	border: 1px solid #696969;
}

.queryTable tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.queryTable td {
	padding: 12px 15px;
}

.queryTable tbody tr td#movieTitle:hover{
	color: #34ADC4;
	cursor: pointer;
}

.queryTable tbody tr td a {
	text-decoration: none;
	font-weight: bold;
  	color: #696969;
}

.queryTable tbody tr td a:hover {
	color: #34ADC4;
	cursor: pointer;
}

footer {
	clear: both;
	font-size: 1.75vw;
	text-align: center;
	padding: 5px;
	color: white;
	background-color: #696969;
}